body {
    /*padding-top: 50px;*/
}


/*body,
html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}*/

.nb-g {
    background-color: #006400;
    color: #ffffff;
    border-bottom: none;
}

.nb-g .navbar-header a,
.nb-g .collapse .nav>li>a {
    color: #ffffff;
}

.nb-g .navbar-header a:hover,
.nb-g .collapse .nav a:hover {
    color: #dcdcdc
}

.nb-g .navbar-nav>.open>a,
.nb-g .navbar-nav>.open>a:focus,
.nb-g .navbar-nav>.open>a:hover {
    background: #228b22;
    color: #dcdcdc;
}

.form-inline .form-control {
    width: 100%;
}

.navbar-form {
    width: 30%;
}

.navbar-form .form-group,
.navbar-form .form-control {
    width: 100%;
}

body,
html,
.row-offcanvas {
    height: 100%;
}

.row-offcanvas {
    padding-top: 50px;
}

#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #5d6875;
    float: left;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#main {
    height: 100%;
    overflow: auto;
}

img[data-action="zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 1080;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

.zoom-overlay {
    z-index: 1079;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    filter: "alpha(opacity=0)";
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
    filter: "alpha(opacity=100)";
    opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
    cursor: default;
}

.zoom-overlay-open .media,
.zoom-overlay-open .media-body,
.zoom-overlay-transitioning .media,
.zoom-overlay-transitioning .media-body {
    overflow: visible;
}


/*
 * off Canvas sidebar
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }
    .row-offcanvas-left {
        left: -220px;
    }
    .row-offcanvas-left.active {
        left: 0;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

.profile-side {
    background: #006400;
    padding: 10px;
    color: #dcdcdc;
}

.profile-side .bio {
    margin-top: 15px;
    text-align: center
}

.profile-actions {
    margin-top: 15px;
}

.profile-actions h4 {
    font-size: 14px;
    color: #cdd0d1;
    margin: 20px 0;
}

.profile-actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-actions ul li a {
    color: #cdd0d1;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.profile-actions ul li a .glyphicon {
    margin-right: 15px;
}

.profile-actions ul li.active a {
    color: #dcdcdc;
}

.profile-actions ul li a:hover {
    text-decoration: none;
    color: #dcdcdc;
}

.news-feed,
.profile-page {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-feed .status-box {
    margin-bottom: 0px;
}

.status-box .panel-body {
    padding-bottom: 5px;
}

.news-feed textarea.box,
.profile-page textarea.box {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

.post .name {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.post .name a:hover {
    text-decoration: none;
}

.post .moment {
    font-size: 12px;
    font-weight: 300;
    color: #999999;
}

.post .image img {
    max-width: 100%;
    margin: 10px 0px;
}

.post .likes {
    font-size: 12px;
}

.post .actions {
    position: relative;
}

.post .actions .comment-box {
    border: none;
    box-shadow: none;
    padding-right: 40px;
    padding-left: 0px;
}

.post .actions .comment-box:focus {
    border: none;
    box-shadow: none;
}

.post .actions .favorite {
    padding: 6px 12px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #dcdcdc;
    cursor: pointer;
}

.post .actions .favorite.red {
    color: #ff2222;
}

.post hr {
    margin: 10px 0;
}

.comment .name {
    font-size: 14px;
    margin-bottom: 0px;
}

.comment .media-body p {
    font-size: 12px;
}

.comment .moment {
    font-size: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.image-preview {
    width: 100%;
    height: 350px;
    background-size: cover;
}

.admin-page {
    margin-top: 20px;
}

.profile-banner {
    min-height: 200px;
    position: relative;
}

.profile-banner .blur-bg {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    /*-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);*/
    background-position: top center;
    background-size: cover;
}

.profile-banner .content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: table;
    width: 100%;
    height: 200px;
    padding: 20px;
    z-index: 2;
}

.profile-banner .blur-bg:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    /* W3C */
}

.profile-banner .content .img-cont {
    display: table-cell;
    vertical-align: bottom;
    padding-right: 20px;
}

.profile-banner .content .img-cont img {
    margin-bottom: -50px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.profile-banner .content .nb {
    display: table-cell;
    vertical-align: bottom;
    color: #ffffff;
    text-align: left;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    width: 10000px;
    overflow-x: hidden;
}

.profile-banner .bio {
    font-size: 18px;
}

.aligner {
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 24em;
    width: 100%;
    height: 100%;
}

.aligner-item {
    -moz-box-flex: 0;
    flex: 0 0 auto;
    width: 400px;
}

.my-location {
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    display: block;
}

.right-side {
    margin-top: 20px;
}

#location-map {
    min-height: 250px;
    background-color: rgb(229, 227, 223);
}

#gmap_canvas {
    height: 30em;
    width: 100%;
}

.place-page {
    margin-top: 20px;
}